.project {
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .project {
    padding: 40px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .project {
    padding: 50px 50px;
  }
}

@media only screen and (min-width: 1300px) {
  .project {
    padding: 60px 120px;
  }
}

.project .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 1299px) {
  .project .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (min-width: 1300px) {
  .project .contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.project .contents .text {
  width: 50%;
}

@media only screen and (max-width: 1299px) {
  .project .contents .text {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .project .contents .text {
    width: 50%;
  }
}

.project i, .project .icon {
  color: #A45412;
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  .project i, .project .icon {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .project i, .project .icon {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1026px) {
  .project i, .project .icon {
    font-size: 40px;
  }
}

.project i:last-of-type {
  margin-right: 0px;
}

.project h1, .project h2, .project p {
  padding: 0px;
  margin: 0px;
}

.project h1 {
  font-family: "standardTT";
  font-size: 56px;
  letter-spacing: -0.7px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .project h1 {
    font-size: 38px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .project h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1026px) {
  .project h1 {
    font-size: 56px;
  }
}

.project h2 {
  font-family: "heebo";
  font-weight: 500;
  letter-spacing: -0.7px;
}

@media only screen and (max-width: 767px) {
  .project h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .project h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1026px) {
  .project h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.project p {
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .project p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .project p {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1026px) {
  .project p {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.project p:last-of-type {
  margin-bottom: 0px;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .technologies {
    margin-bottom: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .technologies {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1026px) {
  .technologies {
    margin-bottom: 45px;
  }
}

.project:nth-child(even) {
  background-color: #F6F6F6;
}

.project:nth-child(odd) {
  background-color: #F3F3F3;
}

.devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 1299px) {
  .devices {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .devices {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1299px) {
  .devices {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1300px) {
  .devices {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.devices .phone {
  color: white;
}

@media only screen and (max-width: 1300px) {
  .devices .phone {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    display: inline;
    z-index: 2;
    margin-right: -35px;
  }
}

@media only screen and (min-width: 600px) {
  .devices .phone {
    margin-right: -55px;
  }
}

@media only screen and (min-width: 768px) {
  .devices .phone {
    margin-right: -75px;
  }
}

@media only screen and (min-width: 1000px) {
  .devices .phone {
    margin-right: -90px;
  }
}

@media only screen and (min-width: 1300px) {
  .devices .phone {
    display: inline;
    z-index: 2;
    margin-right: -65px;
  }
}

@media only screen and (max-width: 1299px) {
  .devices .laptop {
    position: relative;
    display: block;
  }
}

@media only screen and (min-width: 1300px) {
  .devices .laptop {
    display: block;
    position: relative;
    float: right;
  }
}

.deviceImage {
  width: 100%;
}

.deviceImage img {
  width: 100%;
}

.website-button, .github-button {
  padding: 25px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: heebo;
  letter-spacing: -0.5px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

@media only screen and (max-width: 767px) {
  .website-button, .github-button {
    padding: 25px 35px;
    font-size: 18px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .website-button, .github-button {
    padding: 25px 40px;
    font-size: 22px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1026px) {
  .website-button, .github-button {
    padding: 25px 40px;
    margin-right: 50px;
    font-size: 28px;
  }
}

.project-button {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .project-button {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .project-button {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1026px) {
  .project-button {
    margin-top: 80px;
  }
}

.website-button {
  background-color: #A45412;
  color: white;
}

.website-button:hover {
  background-color: #773c0d;
}

.github-button {
  background-color: transparent;
  border: 5px solid #3a3a3a;
  color: #3a3a3a;
}

@media only screen and (max-width: 767px) {
  .github-button {
    padding: 20px 35px;
  }
}

@media only screen and (min-width: 768px) {
  .github-button {
    padding: 20px 40px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1026px) {
  .github-button {
    padding: 20spx 40px;
  }
}

.github-button:hover {
  background-color: #3a3a3a;
  color: white;
}

.buttonHolder a:last-of-type {
  margin-right: 0px;
}

@media only screen and (max-width: 1299px) {
  .devices {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*# sourceMappingURL=projects.css.map */