html, body {
    margin: 0px;
}

.background {
    width: 100%;
    position: relative;
    .title-holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // flex-direction: column;
        position: absolute;
        margin-top: 70px;  
        width: 100%;      
    }

    .scroll-button {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        button {
            width: 75px;
            height: 75px;
            border: none;
            border-radius: 50%;
            font-family: standardTT;
            background-color: #A45412;
            color: white;
            font-weight: 500;
            font-size: 40px;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
            cursor: pointer;
        }
    }
    .title {
        // display: inline-block;
        // top: 0px;
        background-color: rgba(58,58,58, 0.25);
        border: 3px solid #3a3a3a;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
        border-radius: 3px;
        padding: 10px 10px;
        max-width: 80%;
        text-align: center;
        h1 {
            color: white;
            font-size: 100px;
            text-transform: uppercase;
            margin: 0px;
            letter-spacing: -0.7px;
            font-family: standardTT;
            text-shadow: 3px 3px 2px #3a3a3a;
        }
    }
    video {
        width: 100%;
    }

    img {
        width: 100%;
    }


}

.secondary-content {
    padding: 60px 120px;
    div {
        margin-bottom: 50px;
    }
    p, h2 {
        font-family: heebo;
        color: #3a3a3a;
        margin: 0px;
    }
    p {
        letter-spacing: 1px;
    }
    h2 {
        letter-spacing: -0.7px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
}

.image-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    .secondary-image {
        width: 30%;  
        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
        }
    }
}

