.secondary-projects {
    h1 {
        font-family: "standardTT";
        font-size: 56px;
        letter-spacing: -0.7px;
        margin: 0px;
        margin-bottom: 5px;
        padding: 0px;
    }

    h2 {
        font-family: heebo;
        font-weight: 500;
        letter-spacing: -0.7px;
        color: #3a3a3a;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    p {
        margin: 0px;
        letter-spacing: 1.5px;
        font-size: 18px;
    }

    .secondary-project-holder {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .secondary-project {
        width: 30%;
        margin-bottom: 60px;
        .secondary-project-image {
            border-radius: 10px;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
            overflow: hidden;
            img {
                width: 105%;
                filter: blur(4px);
                margin: -7.5px;
            }
        }
        
    }

    padding: 90px 120px;
}

.read-more-holder {
    margin-top: 25px;
}

.read-more {
    text-decoration: none;
    font-family: "standardTT";
    letter-spacing: 0.83px;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 20px;
    color: #A45412;
    transition: color 0.2s ease-in;
}

.read-more:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(119, 60, 13);
}