.intro {
    border: 1px solid pink;
    padding: 150px 110px;
    display: flex;
    .text {
        display: inline-block;
        margin-left: 50px;
        h1, h2, h3 {
            padding: 0px;
            margin: 0px;
        }
        h1 {
            font-family: "standardTT";
            letter-spacing: -0.7px;
            font-size: 56px;
        }
        h2, h3 {
            font-family: "heebo";
            font-weight: 500;
        }

        h2 {
            letter-spacing: 1px;
            font-size: 36px;
        }

        h3 {
            font-size: 28px;
            letter-spacing: 1.5px;
        }
    }
}

.image {
    border-radius: 50%;
    width: 15%;
    border: 1px solid #3A3A3A;
    box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.5);
}